<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css') }}">
</head>
<body>
    <div class="container">
        <h1>À propos</h1>
        
        <p>Bienvenue sur notre site ! Ce projet permet de vérifier si des fichiers .exe ou .apk sont présents dans un fichier ZIP ou à une URL spécifique.</p>

        <h2>Notre objectif</h2>
        <p>Ce site a été conçu pour aider les utilisateurs à identifier facilement les fichiers exécutables ou les fichiers APK présents dans des archives ZIP ou directement accessibles par une URL.</p>

        <h2>Comment ça fonctionne ?</h2>
        <ul>
            <li>Entrez un fichier ZIP via notre formulaire pour vérifier son contenu.</li>
            <li>Soumettez une URL pour savoir si elle contient un fichier EXE, Bat , Msi ou APK.</li>
            <li>Recevez un retour en temps réel avec la présence ou l'absence des fichiers recherchés.</li>
        </ul>

        <h2>À propos du développement</h2>
        <p>Le site a été développé avec Flask (Python), une technologie simple et rapide pour créer des applications web. Il utilise aussi le langage HTML et le CSS pour assurer une expérience utilisateur fluide et agréable.</p>
        <p>&copy; 2025 File Analyse Tous droits réservés.</p>
        <a href="/">Retour à l'accueil</a>
    </div>
</body>
</html>